body {
 background: url('sadman.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
 -moz-background-size: cover;
  -o-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
 font-family: 'Marcellus SC', serif;
 letter-spacing: 3px;
 line-height: 95%;
 color: lightgrey;
}

p {
 font-family: 'Josefin Slab', serif;
 line-height: 145%;
 color: lightgrey;
 
}

.text {
 color: aliceblue;
 position: absolute;
 bottom: 80px;
 right: 80px;
 width: 400px;
}

.redline{
 width: 350px;
 height: 2px;
 color: #b20000;
 background: #b20000;
 margin-bottom: -15px;
}