/* =) */

@import url(https://fonts.googleapis.com/css?family=Cabin:400,700);

body {
  width: 100%;
  height: 100%;
  font-family: Cabin, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

img {
  /*max-width: 100%;*/
}

.jumbotron {
  background-image: url(../assets/home/color-correct-coffee.jpeg);
  background-size: cover; 
  color: #e9e9e9

}

.link {
 font-size: 16px;
  color: #f9f9f9;
}

/* Nav bar */
.navbar-brand {
  height: 50%;
  width: 50%;
  padding: 0;
  padding-left: 15px;
}
header.navbar {
  padding-bottom: 0;
  height: 50px;
  margin: 0;
  border: none;
}
.navbar-inverse {
  border-radius: 0;
  border: none;
  background: #262626;
  color: #f9f9f9;
}
.navbar-right li a {
  color: #f9f9f9 !important;
  font-style: bold;
  letter-spacing: 2px;
}
@media only screen and (max-device-width: 700px) {
  .navbar-right li {
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 2px solid #f9f9f9;
  }
  .navbar-right li a {
    padding-left: 0;
    padding-right: 0;
    font-size: 26px;
    line-height: 36px;
  }
}

.featurette-heading {
 margin: 20px 0 0 0; 
}

.featurette p {
  margin: 10px 0 20px 0;
  font-size: 16px;
}

.footer-heading {
  margin: 40px 0 0 0; 
}

.footer-content {
  margin: 20px 0 20px 0;
  line-height: 1.5;
}
/* Home content */
.vertical-center {
  min-height: 66%;
  min-height: 66vh;
  display: flex;
  align-items: center;
}
.openmsg {
  width: 100%;
}

/*Food & Drink content*/
.jumbotron-menu{
  background-image: url(../assets/menu/rusticCoffee.JPG);
  background-size: cover; 
  color: #e9e9e9;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#food-drink{
  font-size: 50px;
  padding-top: 150px;
}
/*.menu{

}
#beverages{
 
}
#bites{
  
}
#pastries{
  
}*/

/* Footer */
.footer-wrapper {
  color: #f9f9f9;
  width: 100%;
  background-color: #4a4a4a;
}