/* =) */

@import url(https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700); 
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);
body {
  width: 100%;
  font-family: 'Work Sans', 'Karla', "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 40px;
}

html {
  width: 100%;
}

img {
  /*max-width: 100%;*/
}
a {
  color: inherit;
}
ul {
  padding: 0;
}
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
a.anchor {
  position:relative;
  top:-140px;
}
h1, h2, p, a {
  font-weight: 300;
}

#index-jumbo {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url(../assets/homeJumbo_9212.png) no-repeat center center;
  background-size: cover; 
  margin-bottom: 0px;
  color: #e9e9e9;
}

.link {
  color: #f9f9f9;
  font-weight: 200;
}
.b {
  font-weight: 600;
  color: #366635;
}

/* Nav bar */
.navbar-brand {
  height: 50%;
  padding: 0;
}
.navbar-header {

}
.nav-active {
  border-bottom: 2px solid #e8ddbb;
}
.navbar-collapse {
  border: none;
  background-color: #262626;
}
header.navbar {
  font-size: 18px;
  height: 40px;
  margin: 0;
  border: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 2px 10px black;
}
.navbar-brand {
  margin-top: 5px;
}
.navbar-inverse {
  border-radius: 0;
  border: none;
  background: #262626;
  transition-property: all;
  transition-duration: .5s;
}

.navbar-right li a {
  letter-spacing: 1px;
  font-weight: 300 !important;
  font-size: 16px;
  text-shadow: none !important;
  color: #f9f9f9 !important;
}
.navbar-right li a:hover {
}
.navlink:hover {
  color: #e8ddbb !important;
  /*border-bottom: 2px solid #e8ddbb;*/
}
@media only screen and (max-width:767px) {
  .navlink {
    border-bottom: none;
  }
  .navlink:hover {
    border-bottom: none;
  }
  .navbar-right li {
    margin-left: 15px;
    margin-right: 15px;
  }
  .navbar-brand {
    padding-left: 15px;
  }
  .navbar-right li a {
    padding-left: 0;
    padding-right: 0;
    font-size: 18px;
    line-height: 36px;
  }
  header.navbar, .navbar-inverse, .navbar-header {
    height: 60px;
  }
  .navbar-header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
}
.navbar-toggle .icon-bar {
    height: 3px;
    background-color: #f9f9f9 !important;
}
.navbar-toggle:hover{
  transition-property: all;
  transition-duration: .5s;
  background-color: #888 !important;
}
.navbar-toggle:focus {
  background-color: inherit !important;
}
.navbar-toggle {
  border: none;
}
.container {
  width: inherit;
}

.featurette {
  display: inline-block;
  min-width: 300px;
}
.tile {
  vertical-align: middle;
  width: 50%;
  display: inline-block;
  background-color: #fff;
  height: 300px;
}
.tile-wrap {
  margin: 1%;
  width: 48%;
}
.tile-text {
  display: inline-flex;
  align-items: center; /* align vertical */
}
.tile-large {
  width: 98%;
  margin: 1%;
}
.tile h2 {
  font-weight: 400;
}
@media only screen and (max-width: 900px) {
  .tile-wrap {
    width: 98%;
    margin: 1%;
  }
}
@media only screen and (max-width: 500px) {
  .tile, .tile-large {
    display: block;
    width: auto;
    height: auto;
    margin-top: 0;
    background-color: #fff;
    padding-bottom: 5px;
    width: 95%;
    margin: 2.5%;
  }
  .tile-img {
    height: 300px;
    width: 100%;
    margin: 0;
  }
  .tile p, .tile h2 {
    padding: 5px !important;
    margin: 0;
  }
}

#tile-about {
  background: url(../assets/staff.png) no-repeat center center;
  background-size: cover; 
}
#tile-seating {
  background: url(../assets/seating_9115.png);
  background-size: cover;
}
#tile-machine {
  background: url(../assets/machine_9158.png);
  background-size: cover;
}
.featurette-heading {
 font-weight: 300;
}
.container-about {
  max-width: 100%;
}
.container-fluid {
  max-width: 1000px;
}

.featurette-image {
  width: 100%;
}

.featurette p {
  font-size: 16px;
}

.featurette > img {
  max-width: 100%;
}

.footer {
  padding: 15px;
}
.footer-heading {
  margin: 10px 0 0 0; 
}
.footer-inline {
  display: inline-block;
  margin: 10px;
}


.footer-content {
  line-height: 1.5;
  display: inline-block;
}
.footer-inline:nth-child(1)>.footer-content:nth-child(1) {
  width: 275px;
}
.footer-inline:nth-child(2)>.footer-content {
  margin: 0px 30px 0px 0px;
}
@media screen and (max-width: 600px) {
  .footer-inline {
  display: block;

} 
.footer-inline:nth-child(2)>.footer-content {
  margin: 0;
  width: 100%;
}
}
.wrapper {
  padding: 1%;
  background-color: #F2F2F2;
}
/* Home content */
.vertical-center {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.vertical-wrap {
  margin: auto;
  max-width: 1000px;
  z-index: -100;
}
body {
  background-color: #262626;
}
.openmsg {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 15px;
}
.marketing {
  max-width: 1000px;
  margin: auto;
}
.tile-text {
}

/*Food & Drink content*/
.jumbotron-menu, .jumbotron-catering, .jumbotron-contact, .jumbotron-hours {
  color: #e9e9e9;
  position: relative;
  width: 100%;
  height: 80vh !important;
  overflow: hidden;
  z-index: -1;
  margin-bottom: -40vh;
  padding: 5px;
}
.jumbotron-menu {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(38, 38, 38, 1)), url(../assets/2_cups_9088.png) no-repeat center center;
  background-size: cover; 
}
.menu {
  /*z-index: -5;*/
  z-index: 10;
  padding-top: 300px;
  /*background-color: #262626;*/
}
.menu-section {
  background-color: #fff;
  padding: 15px;
  padding-top: 10px;
  margin: 10px;
  /*background-color: #ddd;*/
}
.menu-section-wrapper {
  margin-left: 300px;
  margin-top: -300px;
}
.sidebar-wrapper, .menu-section-wrapper {
  display: inline-block;
  vertical-align: top;
  z-index: 900;
}
.menu-sidebar, .sidebar-wrapper {
  background-color: #ddd;
  height: 300px;
  width: 285px;
  z-index: 900;
}
.menu-section h5 {
  font-size: 22px;
}
.contact-section-wrapper {
  margin-left: 300px;
  margin-top: -300px;
  background-color: #fff;
  padding: 15px;
}
.contact-wrapper {
  z-index: 900 !important;
}
.contact-section-wrapper input, textarea {
  background-color: #ddd;
}
.contact-sidebar {
  width: 285px;
  z-index: 900;
  background-color: #fff;
  color: #262626;
  padding: 15px;
}
.contact-section-wrapper h4, .contact-sidebar h5 {
  font-size: 18px;
}
.contact-section-wrapper p {
  font-size: 16px;
}
.contact-menu {
  margin-top: 200px;
}
@media screen and (max-width: 700px) {

  .contact-section-wrapper h4, .contact-sidebar h5 {
    font-size: 18px;
  }
  #sidebar-contact h4:nth-child(3) {
    margin-top: 20px !important;
  }
  .contact-section-wrapper {
    margin: 0;
  }
  .phone-email-wrapper, .form-wrapper {
    max-width: none !important;
  }

}
@media screen and (max-device-width: 800px)  {
  .jumbotron-menu h1 {
    padding-top: 50px !important;
  }
  .jumbotron-menu {
    min-height: 300px !important;
  }
  .jumbotron-contact {
    height: 200px !important;
  }
  .jumbotron-contact h1 {
    margin-top: 80px !important;
  }
  .jumbotron-hours h1 {
    margin-top: 140px !important;
  }
  .jumbotron-catering h1 {
    padding-top: 40px !important;
  }

}
.menu-sidebar {
  margin: 10px;
  /*padding: 15px;*/
  background-color: #262626;
}
.menu-sidebar>ul li {
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid #262626;
  background-color: #fff;
}
.menu-sidebar>ul li:hover {
  background-color: #e8ddbb !important;
}
.menu-sidebar a {
  color: #262626;
}
.menu-sidebar a:hover {
  text-decoration: none;
}

.sidebar-wrapper {
  background: transparent;
}
#food-drink{
  font-size: 50px;
  padding-top: 150px;
}
.food-drink {
  font-size: 50px;
  float: right;
  padding-top: 100px;
}
.hehe {
  font-size: 20px;
}
.menu-sidebar ul {
  list-style-type: none;
  padding: 0;
}
.menu-sidebar ul li {
  margin-bottom: 5px;
  border-bottom: 2px solid #e8ddbb;
}
.menu-section-content p {
  font-size: 16px;
  color: #808080;
}
@media screen and (max-width: 850px) {

  .menu-sidebar, .sidebar-wrapper {
    width: 225px;
  }
  .menu-section-wrapper {
    margin-left: 240px;
  }
}
@media screen and (max-width: 700px) {

  .dank {
    line-height: 0.8;
  } 

  .menu-sidebar, .sidebar-wrapper {
    display: none;
  }
  #sidebar-contact {
    display: block !important;
    width: 100%;
    margin: 0;
    height: auto;
    margin-bottom: 20px;
  }
  .contact-sidebar {
    width: 100%;
  }
  .menu {
    padding: 0 !important;
  }
  .vertical-center {
    padding: 10px;
  }
  .vertical-wrap {
    padding: 5px;
  }
  .menu-section-wrapper {
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
  }
  .menu-section-content {
    display: none;
    padding: 15px;
    padding-top: 0;
  }
  .menu-section h4 {
    margin: 0;
    padding: 15px;
    line-height: 40px;
    font-size: 24px;
    font-weight: 400;
    border-bottom: 4px solid #e8ddbb;
  }

  .menu-section-content p {
    color: #808080;
    font-size: 16px;
  }
  .menu-section {
    padding: 0;
    background-color: #f9f9f9;
  }
  .menu-link:hover {
    cursor: pointer;
  }
  .menu-header:hover {
    cursor: pointer;
  }
}
  .menu-header:hover {
    cursor: pointer;
  }
.menu h4 {
    font-weight: 400;
}
.menu-section h4 {
  line-height: 40px;
  font-size: 22px;
}
.menu-section-content ul {
  text-indent: 0;
  list-style-type: none;
}
.menu-section-content ul li {
  font-size: 20px;
  margin-top: 15px;
}

/* Contact page */
.jumbotron-contact#contact-form {
  background-color: #E8DDBB; 
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(38, 38, 38, 1)), url(../assets/contact.png) no-repeat center center;
  z-index: -10;
  background-size: cover;
  color: #fff;
  height: 70vh;
  margin-bottom: -60vh;
  padding: 5px;
}
.contact-wrapper {
  margin: 10px;

}
#h1contact {
  margin-top: 180px;
  font-size: 50px;
}
.phone-email-wrapper, .form-wrapper {
  max-width: 500px;
  margin: auto;
}
.form-wrapper input {
  width: 100%;
}
.form-wrapper input[type="text"], .form-wrapper textarea {
  line-height: 35px;
}
.form-wrapper textarea#form-msg {
  width: 100%;
}

.form-wrapper input, .form-wrapper textarea {
  border: none;
  line-height: 35px;
  font-size: 18px;
  padding: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  /*background-color: #fff;*/
  /*border: 2px solid #262626;*/
}
.form-wrapper input[type="submit"] {
  background-color: #bbb !important;
}
/*Catering*/
.jumbotron-catering{
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(38, 38, 38, 1)), url(../assets/art_coffee_9170.png) no-repeat center center;
  background-size: cover; 
  position: relative;
  width: 100%;
  min-height: 40vh;
  /*overflow: hidden;*/
}
#contact-form {
  height: auto;
}
.jumbotron-contact, .jumbotron-catering, .jumbotron-menu {
  margin-top: 40px;
}
@media screen and (max-width: 800px) and (orientation: portrait) {
  .jumbotron-contact, .jumbotron-catering, .jumbotron-menu {
    min-height: 300px !important;
  }

}
h4 {
  font-weight: 400;
}

.how {
  min-height: 20vh;
  margin: 20px;
}

.how p {
  font-size: 16px;
}

/* Footer */
.footer-wrapper {
  color: #f9f9f9;
  width: 100%;
  background-color: #4a4a4a;
}
.footer {
  max-width: 1000px;
  margin: auto;
}


/* Dropdown menu */
.menu, .catering-menu {
  padding: 10px;
}
.dropdown-menu {
  width: 100%;
  position: static;
  float: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  padding: 5px;
  font-size: 24px;
}

.dropdown-menu p {
  font-size: 18px;
  color: #9b9b9b;
}

.dropdown-toggle .caret {
  position: absolute;
  right: 10px;
  top: 30px;
}

.dropdown-toggle {
  width: 100%;
  border-radius: 0;
  border: none;
  text-shadow: none;
  line-height: 50px;
  border-top: 2px solid #000;
  font-size: 24px;
  text-align: left;
  padding: 5px;
  padding-top: 12px;
  background-color: #fff;
}

.jumbotron-catering {
  /* TEMPORARY */
  /*background-color: #E8DDBB;*/
}

/* Hours & location*/
.row {
  margin: 0;
}
.jumbotron-hours {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(38, 38, 38, 1)), url(../assets/location.png) no-repeat center center;
  background-size: cover;
  margin: 0;
  /*color: #fff;*/
  height: 80vh;
  margin-bottom: -70vh;
}
.jumbotron-hours h1 {
  font-size: 50px;
  margin-top: 170px;
}
.sidebar-hours {
  padding: 15px;
}
#sidebar-hours {
  background-color: #fff;
  width: 285px;
}
#section-hours {
  margin-top: -325px;
}
.hours h2 {
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #e8ddbb;
}
.hours h4 {
  font-size: 22px;
}
.hours p {
  font-size: 18px;
}
.sidebar-hours h4 {
  margin-bottom: 0;
  margin-top: 20px;
}

@media screen and (max-width: 700px) {
  #section-hours {
    margin-top: 10px;
  }
  #sidebar-hours {
    width: 100%;
  }
  .hour {
    display: inline-block;
    width: 33%;
  }
}
@media screen and (max-width: 500px) {
  .hour {
    display: block;
    width: auto;
  }
  #hours-dank {
    margin-top: 230px;
  }
  .sidebar-hours {
    margin-top: 60px;
  }
}
.location {
  background-color: #fff;
}
#map-container {
  padding: 0;
  margin: auto;

  background: url(http://maps.googleapis.com/maps/api/staticmap?center=32.877601,+-117.239195&zoom=17&scale=2&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:small%7Ccolor:0x000000%7Clabel:1%7C32.877601,+-117.239195) no-repeat center center;
  background-size: cover;
  height: 50vh;
}
.container-about {
  padding: 0;
}
.container-about .featurette-heading, .container-about p {
  padding-left: 15px;
  padding-right: 15px;
}
/*
.jumbotron {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}
*/


.loading {
  background: #262626 !important;
}