/* =) */

/*@import url(https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700); */
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);
body {
  width: 100%;
  font-family: 'Karla', "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 40px;
}

html {
  width: 100%;
}

img {
  /*max-width: 100%;*/
}

a:hover {
  color: #E8DDBB;
  cursor: pointer;
}
a:visited {
  text-decoration: none;
}
h1, h2, p, a {
  font-weight: 300;
}

#index-jumbo {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/homeJumbo_9212.png) no-repeat center center;
  background-size: cover; 
  margin-bottom: 0px;
  color: #e9e9e9;
}

.link {
  color: #f9f9f9;
  font-weight: 200;
}
.b {
  font-weight: 600;
  color: #366635;
}

/* Nav bar */
.navbar-brand {
  height: 50%;
  padding: 0;
}
.navbar-header {

}
.nav-active {
  border-bottom: 2px solid #e8ddbb;
}
.navbar-collapse {
  border: none;
  background-color: #262626;
}
header.navbar {
  font-size: 18px;
  height: 40px;
  margin: 0;
  border: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 2px 10px black;
}
.navbar-brand {
  margin-top: 5px;
}
.navbar-inverse {
  border-radius: 0;
  border: none;
  background: #262626;
  transition-property: all;
  transition-duration: .5s;
}

.navbar-right li a {
  letter-spacing: 1px;
  font-weight: 300 !important;
  font-size: 16px;
  text-shadow: none !important;
  color: #f9f9f9 !important;
}
.navbar-right li a:hover {
}
.navlink:hover {
  color: #e8ddbb !important;
  /*border-bottom: 2px solid #e8ddbb;*/
}
@media only screen and (max-width:767px) {
  .navlink {
    border-bottom: none;
  }
  .navlink:hover {
    border-bottom: none;
  }
  .navbar-right li {
    margin-left: 15px;
    margin-right: 15px;
  }
  .navbar-brand {
    padding-left: 15px;
  }
  .navbar-right li a {
    padding-left: 0;
    padding-right: 0;
    font-size: 18px;
    line-height: 36px;
  }
  
}
.navbar-toggle .icon-bar {
    height: 3px;
    background-color: #f9f9f9 !important;
}
.navbar-toggle:hover{
  transition-property: all;
  transition-duration: .5s;
  background-color: #888 !important;
}
.navbar-toggle:focus {
  background-color: inherit !important;
}
.navbar-toggle {
  border: none;
}
.container {
  width: inherit;
}

.featurette {
  display: inline-block;
  min-width: 300px;
}
.tile {
  vertical-align: middle;
  width: 50%;
  display: inline-block;
  background-color: #fff;
  height: 300px;
}
.tile-wrap {
  margin: 1%;
  width: 48%;
}
.tile-text {
  display: inline-flex;
  align-items: center; /* align vertical */
}
.tile-large {
  width: 98%;
  margin: 1%;
}
.tile h2 {
  font-weight: 400;
}
@media only screen and (max-width: 900px) {
  .tile-wrap {
    width: 98%;
    margin: 1%;
  }
}
@media only screen and (max-width: 500px) {
  .tile, .tile-large {
    display: block;
    width: auto;
    height: auto;
    margin-top: 0;
    background-color: #fff;
    padding-bottom: 5px;
    width: 95%;
    margin: 2.5%;
  }
  .tile-img {
    height: 300px;
    width: 100%;
    margin: 0;
  }
  .tile p, .tile h2 {
    padding: 5px !important;
    margin: 0;
  }
}

#tile-about {
  background: url(../assets/staff.jpg) no-repeat center center;
  background-size: cover; 
}
#tile-seating {
  background: url(../assets/seating_9115.png);
  background-size: cover;
}
#tile-machine {
  background: url(../assets/machine_9158.png);
  background-size: cover;
}
.featurette-heading {
 font-weight: 300;
}
.container-about {
  max-width: 100%;
}
.container-fluid {
  max-width: 1000px;
}

.featurette-image {
  width: 100%;
}

.featurette p {
  font-size: 16px;
}

.featurette > img {
  max-width: 100%;
}

.footer {
  vertical-align: top;
}
.footer-heading {
  margin: 40px 0 0 0; 
}
.footer-inline {
  display: inline-block;
  width: 49%;
  margin: 0.5%;
}
@media screen and (max-width: 600px) {
  .footer-inline {
<<<<<<< HEAD
  display: block;
  width: 99%;
  margin: 0.5%;
}

=======
    display: block;
    width: 99%;
    margin: 0.5%;
  }
>>>>>>> 41edf707d4041479661c9cb496a02f55d8360fd6
}

.footer-content {
  margin: 20px 0 20px 0;
  line-height: 1.5;
}
.wrapper {
  padding: 1%;
  background-color: #F2F2F2;
}
/* Home content */
.vertical-center {
  min-height: 66%;
  min-height: 66vh;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}
.vertical-wrap {
  margin: auto;
  max-width: 1000px;
}
.openmsg {
  width: 100%;
}
.tile-text {
}

/*Food & Drink content*/
.jumbotron-menu{
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(38, 38, 38, 1)), url(../assets/menu/2_cups_9088.png) no-repeat center center;
  background-size: cover; 
  color: #e9e9e9;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
.menu {
  background-color: #262626;
}
.menu-section {
  background-color: white;
  padding: 15px;
  margin: 10px;
}
.menu-section-wrapper {
  margin-left: 300px;
  margin-top: -300px;
}
.sidebar-wrapper, .menu-section-wrapper {
  display: inline-block;
  vertical-align: top;
  z-index: 900;
}
.menu-sidebar, .sidebar-wrapper {
  background-color: white;
  height: 300px;
  width: 285px;
  z-index: 900;
}
.menu-sidebar {
  margin: 10px;
  /*padding: 15px;*/
  background-color: #262626
}
.menu-sidebar>ul li {
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid #262626;
  background-color: #fff;
}
.menu-sidebar>ul li:hover {
  background-color: #e8ddbb;
}
.menu-sidebar a {
  color: #262626;
}
.menu-sidebar a:hover {
  text-decoration: none;
}

.sidebar-wrapper {
  background: transparent;
}
#food-drink{
  font-size: 50px;
  padding-top: 150px;
}
.menu-sidebar ul {
  list-style-type: none;
  padding: 0;
}
@media screen and (max-width: 850px) {
  .menu-sidebar, .sidebar-wrapper {
    width: 225px;
  }
  .menu-section-wrapper {
    margin-left: 240px;
  }
}
@media screen and (max-width: 700px) {
  .menu-sidebar, .sidebar-wrapper {
    display: none;
  }
  .menu-section-wrapper {
    margin-left: 0px;
    margin-top: 0px;
  }
}

/* Contact page */
.jumbotron#contact-form {
  background-color: #E8DDBB; 
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/contact.png) no-repeat center center;
  background-size: cover;
  margin-bottom: 0;
  color: white;
}
.contact-wrapper {
  margin: 20px;
}

.phone-email-wrapper, .form-wrapper {
  max-width: 500px;
  margin: auto;
}
.form-wrapper input {
  width: 100%;
}
.form-wrapper textarea#form-msg {
  width: 100%;
}

.form-wrapper input, .form-wrapper textarea {
  border: none;
  line-height: 24px;
  font-size: 18px;
  padding: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*Catering*/
.jumbotron-catering{
  background: url(../assets/art_coffee_9170.png) no-repeat center center;
  background-size: cover; 
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#cMenu{
  font-size: 50px;
  padding-top: 150px;
  color: #fff;
}
.cateringInfo{
  color: white;
  text-align: left;
  margin: 290px 100px 0px -190px;
  font-weight: 200px;
  font-size: 21px;
}

.jumbotron, .jumbotron-catering, .jumbotron-menu {
  min-height: 60%;
  min-height: 60vh;
}

.how {
  min-height: 20vh;
  margin: 20px;
}

.how p {
  font-size: 16px;
}

/* Footer */
.footer-wrapper {
  color: #f9f9f9;
  width: 100%;
  background-color: #4a4a4a;
}
.footer {
  max-width: 800px;
  margin: auto;
}


/* Dropdown menu */
.menu, .catering-menu {
  padding: 10px;
}
.dropdown-menu {
  width: 100%;
  position: static;
  float: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  padding: 5px;
  font-size: 24px;
}

.dropdown-menu p {
  font-size: 18px;
  color: #9b9b9b;
}

.dropdown-toggle .caret {
  position: absolute;
  right: 10px;
  top: 30px;
}

.dropdown-toggle {
  width: 100%;
  border-radius: 0;
  border: none;
  text-shadow: none;
  line-height: 50px;
  border-top: 2px solid #000;
  font-size: 24px;
  text-align: left;
  padding: 5px;
  padding-top: 12px;
  background-color: #fff;
}

.jumbotron-catering {
  /* TEMPORARY */
  /*background-color: #E8DDBB;*/
}

/* Hours & location*/
.row {
  margin: 0;
}
.hours {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/location.png) no-repeat center center;
  background-size: cover;
  margin: 0;
  padding: 15px;
  color: white;
}
.hour {
  display: inline-block;
  width: 33%;
}
@media screen and (max-width: 500px) {
  .hour {
    display: block;
    width: 100%;
  }
  .hours {
    text-align: center;
  }
}
.location {
}
#map-container {
  padding: 0;
  margin: auto;

  background: url(http://maps.googleapis.com/maps/api/staticmap?center=32.877601,+-117.239195&zoom=17&scale=2&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:small%7Ccolor:0x000000%7Clabel:1%7C32.877601,+-117.239195) no-repeat center center;
  background-size: cover;
  height: 50vh;
}
.container-about {
  padding: 0;
}
.container-about .featurette-heading, .container-about p {
  padding-left: 15px;
  padding-right: 15px;
}


